@import url('https://fonts.googleapis.com/css2?family=Poor+Story&family=Roboto+Slab&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: rgb(11, 40, 65);
}

.main-nav-bar {
    background-color: rgb(19, 59, 94);
    display: flex;
    justify-content: center;
    height: 130px;
    align-items: center;
}

.title-container-nav-bar {
    display: flex;
    justify-content: center;
    text-align: center;
}

.title-container-nav-bar h2{
    font-family: 'Poor Story', cursive;
    font-size: 50px;
    color: rgb(189, 211, 230);
    cursor: pointer;
}

.registration-card-main-box {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    border-radius: 20px;
    gap: 40px;
    background-color: rgb(19, 59, 94);
    border: 5px solid rgb(8, 35, 58);
}

@media (max-width: 549px) {
    .registration-card-main-box {
        width: 95%;
    }
}

#title-registration-card {
    font-family: 'Poor Story', cursive;
    color: rgb(189, 211, 230);
    cursor: pointer;
    font-size: 40px;
    margin: auto;
    padding-top: 30px;
}

.input-container {
    max-width: 300px;
    height: 50px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.input-text {
    font-size: 24px;
    font-weight: 900;
    font-family: 'Poor Story', cursive;
    width: 100%;
    height: 100%;
    border: 5px solid rgb(11, 40, 65);
    background-color: rgb(28, 68, 104);
    text-align: center;
    color: rgb(189, 211, 230);
    outline: none;
}

.input-text:hover {
    border: 5px solid rgb(9, 35, 56);
}

#registration-button {
    width: 200px;
    height: 55px;
    margin: auto;
    margin-bottom: 30px;
    border: 5px solid rgb(11, 40, 65);
    background-color: rgb(28, 68, 104);
    color: rgb(189, 211, 230);
    font-size: 24px;
    font-weight: 900;
    font-family: 'Poor Story', cursive;
    letter-spacing: 1.2px;
}

#registration-button:hover {
    border: 5px solid rgb(9, 35, 56);
    cursor: pointer;
}

.error-text-div {
    display: none;
    justify-content: center;
    text-align: center;
    width: 90%;
    margin: 40px auto;
}

#error-text {
    font-family: 'Poor Story', cursive;
    font-size: 23px;
    color: rgb(161, 178, 192);
    text-align: center;
    letter-spacing: 1px;
    width: 100%;
    display: none;
}