<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/homepage.css">
    <title>HomePage</title>
</head>
<body>
    <nav class="main-nav-bar">
        <div class="title-container-nav-bar">
            <h2>ToDo Application</h2>
        </div>
        <ul class="links-list-nav-bar">
            <li class="single-link"><a href="./login.html">Login</a></li>
            <li class="single-link"><a href="" id="exit-link">Exit</a></li>
            <li class="single-link"><a href="./todo.html">ToDo List</a></li>
        </ul>
        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </nav>
    <div class="create-todo-card-container">
        <h1>Create your ToDo</h1>
        <h3>It's always good to have something to do</h3>
        <div class="input-container-title">
            <input type="text" placeholder="title" id="title-input" maxlength="20">
        </div>
        <div class="input-container-body-todo">
            <textarea id="body-input">

            </textarea>
        </div>
        <button id="create-todo-button">Create</button>
    </div>
    <div class="error-div-container">
        <h3 class="error-text">There is already a ToDo with this title</h3>
    </div>
    <script src="../js/homepage.js"></script>
</body>
</html>