<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/login.css">
    <title>Login</title>
</head>
<body>
    <nav class="main-nav-bar">
        <div class="title-container-nav-bar">
            <h2>ToDo Application</h2>
        </div>
    </nav>
    <div class="login-card-main-box">
        <h2 id="title-login-card">LOGIN</h2>
        <div class="input-container">
            <input type="text" class="input-text" placeholder="email@gmail.com" id="email-input">
        </div>
        <div class="input-container">
            <input type="password" class="input-text" placeholder="**********" id="password-input">
        </div>
        <button id="login-button">LOGIN</button>
        <h3 id="no-account-text">Non hai un account? <a href="">registrati ora</a></h3>
    </div>
    <script src="../js/"></script>
</body>
</html>