<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/registration.css">
    <title>Registration</title>
</head>
<body>
    <nav class="main-nav-bar">
        <div class="title-container-nav-bar">
            <h2>ToDo Application</h2>
        </div>
    </nav>
    <div class="registration-card-main-box">
        <h2 id="title-registration-card">REGISTRATION</h2>
        <div class="input-container">
            <input type="text" class="input-text" placeholder="email@gmail.com" id="email-input">
        </div>
        <div class="input-container">
            <input type="password" class="input-text" placeholder="**********" id="password-input">
        </div>
        <button id="registration-button">REGISTER</button>
    </div>
    <div class="error-text-div">
        <h3 id="error-text"></h3>
    </div>
    <script src="../js/registration.js"></script>
</body>
</html>